@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .category-variant-btn:hover > svg {
    @apply visible;
  }
  .overlay:hover > div {
    @apply opacity-100;
  }
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
 
}

::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d9d9d9;
}


.zoomUP:hover{
  transform: scale(1.01);
}

